[Unit]
Description=Dashboard Monitoring System
After=network-online.target
Wants=network-online.target

[Service]
User=user
Group=user
WorkingDirectory=/home/user/ct-dashmon/backend
ExecStartPre=/bin/sleep 5
ExecStart=/usr/local/bin/node server.js
Restart=always
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

